/* style de l'ensemble de la page  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    border: 0;

}
/* style du corps de la page */
body {
    line-height: 1.6;
    color: #333;
    background: #f9f9f9;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background: url('guera.jpg') no-repeat;
   
}
/* style de l'en-tête et du pied de page */

header, footer ,h1{
    text-align: center;
    padding: 20px 0;
    color: black;
}
/* style de la barre de navigation */

h1, h2,p{
    margin-bottom: 10px;
    color: rgb(21, 20, 20);
  
}
/* style des lien barre de navigation */

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    
}
/* style de la barre de navigation au survol */
nav a:hover{
    margin: 0 10px;
    text-decoration: none;
    color: rgb(72, 65, 65);
    transition: 0.06s;
}
/* style pour l'ensemble de la section */

section {
    margin: 40px 0;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
section.content {
    margin: 40px 0;
    padding: 20px;
    background:transparent;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
/* style de la section contact */

input, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;

}
button{
   border: #ddd;
   margin: 12px;
   padding: 8px;
   border-radius: 5px;
   background-color: white;

}
button:hover{
    border: #767272;
    background-color:#767272 ;
 
}

button.submit{
    background-color: #00c3ff;
}
button.submit:hover{
    background-color: #3d3f40;
    color: aliceblue;
}
@media (max-width:360px) {
    contactForm{
        width: 100px;
        height: 100vh;
        

    }
}
 
/* Styles pour la barre de recherche */
.search-container {
    margin: 20px 0;
    text-align: center;
}

#searchInput {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

/* Styles pour les éléments filtrés */
.item {
    padding: 15px;
    margin: 10px 0;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s;
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    align-items: center;
}

.item.hidden {
    display:contents;
}
/* Styles pour les images de l'arriere plan*/
img{
    width: 100px;
    height: 100px;
    border-radius: 05%;
    margin-right: 20px;
}
div{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    background: rgb(224, 223, 223);
}
